.message-field {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 600px;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.layout {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
}

.message-sender {
    color: gray;
    font-size: 14px;
}

.layout-canvas {
    height: 50%;
    width: 100%;
    display: flex;
}

.header {
    width: 100%;
    height: 60px;
    background-color: lightblue;
}

.layout-left-side {
    height: 600px;
    width: 30%;
    background-color: darkgray;
}

.layout-right-side {
    height: 100%;
    width: 70%;
}

.header-info {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}